<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="python_folder" />
  </head>
  <body>
    <form enctype=" multipart/form-data" action="/upload" method="POST">
      <label>Upload the Photo of the skin to analyse</label><br />
      <input type="file" name="imageFile" id="imageFile" accept="image/*" />
      <div>
        <input
          type="submit"
          value="Upload Image"
          class="get-start-btn shadow"
        />
      </div>
    </form>
  </body>
</html>
